*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
    height: 1500px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    grid-template-rows: repeat(4, 25%);
    grid-template-areas: 'header header header'
    'article article aside'
    'article article aside'
    'footer footer footer';
    grid-gap: 10px;
}
article {
    grid-area: article;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
    grid-template-areas: 'cima cima'  
   'baixoe baixod';
}

.sectioncima {
    grid-area: cima;
    background-color: bisque;
    height: 360px;
}
.sectionbaixoe {
    grid-area: baixoe ;
    background-color: blue;
    margin-right: 10px;
}
.sectionbaixod {
    grid-area: baixod;
    background-color: cadetblue;
}

aside {
    display: grid;
    grid-area: aside;
    background-color: grey;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 20%);
    grid-template-areas: 'search search'
    'lidos lidos'
    'lidos lidos'
    'cimae cimad'
    'baixoe baixod';
    border: 1px solid black;
}

.h27{
    height: 45px;
    padding-left: 30px;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: aliceblue;
}
ul{
    margin-left: 35px;
    margin-top: 20px;
}
li{
    margin-top: 25px;
    color: aliceblue;
}
.sec1{
    grid-area: search;
    width: 90%;
    height: 60px;
    margin-top: 30px;
    margin-left: 5%;
    border: 1px solid black;
}
.sec2{
    grid-area: lidos;
    width: 90%;
    border: 1px solid black;
    margin-left: 5%;
    margin-bottom: 20px;
    height: 250px;
    margin-top: -20px;
}
.sec3{
    grid-area: cimae;
    height: 150px;
    width: 80%;
    margin-left:10%;
    border: 1px solid black;
}
.sec4{
    grid-area: cimad;
    height: 150px;
    width: 80%;
    border: 1px solid black;
    margin-left: 10%;
    float: left;
}
.sec5{
    grid-area: baixoe;
    height: 150px;
    width: 80%;
    margin-left: 10%;
    border: 1px solid black;
}
.sec6{
    grid-area: baixod;
    height: 150px;
    width: 80%;
    border: 1px solid black;
    margin-left: 10%;
}

header {
    grid-area: header;
    background-color: brown;
}
footer {
    margin-top: 20px;
    grid-area:  footer;
    background-color: coral;
} 
